/* kolory tekstu */
$colorBasicTekst: #5a5a5a;
$colorPinkTekst: #ed145b;
$colorWhiteTekst: #fff;
/* kolory tła */
$buttonBackgroundBasic: #ed145b; /*sekcja-3, pink, sekcja-5 */
$button-2Background: #fff; /* sekcja-2, box-1 */
$button-2HoverBackground: rgba(237, 20, 91, .6);
$button-3Background: #f4f4f4; /* section, article, event */
$headerBackground: #040404;
$layerBackground: rgba(237, 20, 91, .9);
$footerBackground: #2b2b2b;
/* kolor border */
$borderButton-2: #fff;
$borderElipsa:  #c8c8c8;
