@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/FontsFree-Net-Proxima-Nova-Black.otf');
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
$LetterSpacing2: 2px;
$LetterSpacing3: 3px;
$bigText: 38px;
$Text: 30px;
$navText: 13px;
$basicText: 17px;
$smallText: 12px;
$boxText: 11px;